nav {
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-link {
      font-size: 1.2rem;
      margin-left: 1rem;
  
      &:hover {
        color: #007bff;
      }
  
      i {
        margin-right: 0.5rem;
      }
    }
  }